<!DOCTYPE html>
<html>
<head>
<title>Sinnvoll - スケジュール取得ツール</title>
<?!= include('stylesheet'); ?>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
</head>
<body>
	<section class="hero is-primary">
		<div class="hero-head">
			<header class="navbar">
				<div class="container">
					<div class="navbar-brand">
					<p class="navbar-item has-text-grey-darker is-size-4">
							Sinnvoll
					</p>
					<span class="navbar-burger burger" data-target="navbarMenuHeroC">
						<span></span>
						<span></span>
						<span></span>
					</span>
					</div>
					<div id="navbarMenuHeroC" class="navbar-menu">
					<div class="navbar-end">
						<span class="navbar-item">
							<a class="button is-success is-inverted" href="https://bitbucket.org/d-kojima3/schedule-fetcher/src/master/" target="_blank">
              <span class="icon"><i class="fab fa-bitbucket"></i></span>
              <span>Bitbucket</span>
							</a>
						</span>
					</div>
					</div>
				</div>
			</header>
		</div>
	</section>

  <div class="container is-widescreen">

      <form class="section" id="input_area" ref="input_form" @submit.prevent="handle()">

        <div class="field">
          <label class="label has-text-weight-normal">取得する期間（1週間以内で取得してください）</label>
          <div class="columns">
            <div class="column">
              <p class="control has-icons-left">
                  <input class="input" type="date" name="period_beginning" placeholder="" v-model="default_start">
                  <span class="icon is-small is-left"><i class="far fa-calendar-alt"></i></span>
              </p>
            </div>
            <div class="column is-narrow">～</div>
            <div class="column">
              <p class="control has-icons-left">
                  <input class="input" type="date" name="period_end" placeholder="" v-model="default_end">
                  <span class="icon is-small is-left"><i class="far fa-calendar-alt"></i></span>
              </p>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label has-text-weight-normal">取得先スプレッドシート</label>
          <p class="control has-icons-left">
          <span class="select">
          <select class="" name="sheet_id">
          <option v-for="(sheet, sheet_id) in sheet_list" v-bind:value="sheet_id">{{sheet.name}}</option>
          </select>
          </span>
          <span class="icon is-small is-left">
          <i class="fas fa-file-alt"></i>
          </span>
          </p>
        </div>

        <div class="field">
          <label class="label has-text-weight-normal">あなたの名前（スプレッドシート上で表示されている苗字）</label>
          <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" name="family_name" placeholder="例: 小嶋" value="">
          <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
          </span>
          </div>
          <!-- <p class="help is-success">OK</p> -->
        </div>

        <div class="field is-grouped">
          <button class="button has-background-primary is-link is-size-6 is-medium is-fullwidth" type="submit" v-bind:class="[isFetching ? 'is-loading' : '']">取得する</button>
        </div>
      </form>

          <section class="section fetchResult" id="result" v-if="whole_projects">
            <div class="tabs is-fullwidth is-toggle fetchResult_navi">
              <ul v-if="whole_projects">
                <li class="fetchResult_navi_each" v-for="(data_daily, index) in whole_projects" v-bind:class="[currentTab === index ? 'is-active' : '']" style="cursor: pointer;" @click="toggle(index)">
                  <a href="javascript: void(0)"><span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                    <span>{{data_daily[0].date}}</span></a>
                </li>
              </ul>
            </div>
            <div class="fetchResult_wrap">
              <div class="fetchResult_content" v-for="(data_daily, index) in whole_projects" v-show="currentTab === index">
                  <table class="table is-hoverable is-fullwidth">
                    <thead>
                      <tr>
                        <th class="has-text-weight-normal">プロジェクト名</th>
                        <th class="has-text-weight-normal">案件名</th>
                        <th class="has-text-weight-normal">作業内容</th>
                        <th class="has-text-weight-normal">時間</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="fetchResult_contentRows" v-for="project in data_daily">
                        <td>{{project.project_name}}</td>
                        <td class="fetchResult_contentRows_sheetIndexWrap">{{project.archive_name}}
                          <div class="notification is-primary fetchResult_contentRows_sheetIndex">シート「{{project.sheet_name}}」{{project.sheet_row}}行目</div>
                        </td>
                        <td>{{project.work_name}}</td>
                        <td>{{project.task_time}}</td>
                      </tr>
                      <tr v-bind:class="[getSum(index) <= 8 ? 'has-background-primary' : 'has-background-warning']">
                        <td class="" colspan="3" v-bind:class="[getSum(index) <= 8 ? 'has-text-white-ter' : 'has-text-dark']">合計</td>
                        <td class="has-text-weight-bold" v-bind:class="[getSum(index) <= 8 ? 'has-text-white-ter' : 'has-text-dark']">{{getSum(index)}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </section>

  </div>

<?!= include('javascript'); ?>
</body>
</html>
