<script>
var current_date = new Date();
var benchmark_init_date;
window.onload = function() {
  vm_form.initSheets();
};
var vm_form = new Vue({
  el: '#input_area',
  data: {
    default_start: '',
    default_end: '',
    isFetching: false,
    sheet_list: {}
  },
  created: function() {
    var today = current_date.getFullYear().toString()+'-'+('0'+((current_date.getMonth()+1).toString())).slice(-2)+'-'+('0'+current_date.getDate().toString()).slice(-2);
    this.default_start = today;
    this.default_end = today;
  },
  mounted: function() {},
  methods: {
    initSheets: function() {
      google.script.run.withSuccessHandler(function(res_sheet_list) {
        Vue.set(vm_form.$data, "sheet_list", res_sheet_list);
      }).getSheets();
    },
    handle: function() {
      benchmark_init_date = new Date();
      // reset cache
      Vue.set(vm_content.$data, "whole_projects", []);
      Vue.set(vm_content.$data, "project_times_sum", []);

      this.isFetching = true;
      var FormDataObj = new FormData(this.$refs.input_form),
        form_data = {};
      for (var iterator of FormDataObj.entries()) {
        form_data[iterator[0]] = iterator[1];
      }
      google.script.run
      .withSuccessHandler(function(data) {
        Vue.set(vm_content.$data, "whole_projects", data);
        Vue.nextTick(function() {
          Vue.set(vm_form.$data, "isFetching", false);
          console.log('実行時間：'+((new Date() - benchmark_init_date)/1000).toString()+'sec');
        });
      })
      .withFailureHandler(function(error) {
        document.getElementById('result').innerHTML = error;
      })
      .fetchResults(form_data);
    }
  }
});
var vm_content = new Vue({
  el: '#result',
  data: {
    currentTab: 1,
    whole_projects: [],
    project_times_sum: []
  },
  methods: {
    toggle: function(index) {
      this.currentTab = index;
    },
    getSum: function(index) {
      if (this.project_times_sum[index]) {
        return this.project_times_sum[index];
      }
      var sum = 0;
      this.whole_projects[index].forEach(function(value) {
        sum += Number(value.task_time);
      });
      this.project_times_sum[index] = sum;
      return sum;
    }
  }
});
</script>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
